/* --------------------------
Stile di base
----------------------------- */
html {margin: 0; padding: 0; color: white;}
h1, h2, h3, p, ul {margin: 0px;}
h1 {
    background: linear-gradient(to right, #fff 10%, #ffffff66 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2 {
    background: linear-gradient(to right, #0048CE 0%, #0F67FE 70%, #78adefcf 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 46px;
    text-align: center;
}
h3 {font-size: 28px;}
a {text-decoration: none;}
body {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #090E1D;
}

/* -------------------------
Navbar
---------------------------- */
.nav {
    overflow: hidden;
    display: flex;
    padding: 5px 5%;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
}
.nav__logo {text-decoration: none;}
.nav__logo h1 {color: white; font-size: 26px;}
.nav__list {list-style: none; display: flex;}
.nav__list__item {margin-left: 50px;}
.nav__list__item a {
    color: #818BA0;
    font-size: 16px;
    font-weight: 600;
}
.nav__list__item a:hover {color: #BEC5D2; transition: all 0.3s ease-in-out;}
.nav__list__item--active a{color: white;}
/* ----------- Hamburger ----------- */
.nav__hamburger {display: none; cursor: pointer;}
.nav__hamburger__line {
    width: 25px;
    height: 1.5px;
    background-color: white;
    display: block;
    margin: 7px auto;
    transition: all 0.3s ease-in-out;
}
.nav__hamburger--active {transition: all 0.3s ease-in-out; transform: rotate(45deg);}
.nav__hamburger--active .nav__hamburger__line:nth-child(2) {width: 0px;}
.nav__hamburger--active .nav__hamburger__line:nth-child(1) {transform: translateY(12px);}
.nav__hamburger--active .nav__hamburger__line:nth-child(3) {transform: translateY(-5px) rotate(90deg);}
/* ------------- Menubar ------------- */
.header__menubar {
    position: absolute;
    top: 80px;
    left: -100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    padding: 20% 0;
    background-color: #090E1D;
    transition: all 0.5s ease-in;
    z-index: 2;
}
.header__menubar--active {left: 0;}
.header__menubar__list {padding: 0; list-style: none;}
.header__menubar__list__item {margin-bottom: 40px; text-align: center;}
.header__menubar__list__item a {
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.header__menubar__list__item a:hover {color: #818BA0; transition: all 0.3s ease-in-out;}

/* -------------------------
Cover
---------------------------- */
.cover {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    gap: 40px;
    padding: 80px 5%;
}
.cover__content__text h1 {
    font-size: 68px;
    min-width: fit-content;
    white-space: nowrap;
}
.cover__content__text p {
    font-size: 18px;
    color: #BEC5D2;
    max-width: 590px;
    padding-top: 10px;
}
.cover__content__btn {display: flex; gap: 10px; padding-top: 30px;}
.cover__img img {height: 550px;}

/* -------------------------
Chart
---------------------------- */
.chart {
    display: flex;
    padding: 80px 5%;
    min-height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.chart h1 {font-size: 42px; text-align: center;}
.chart__img {margin: 0px 50px; max-width: 600px; min-width: 250px;}
.chart__img img{width: 100%;}

/* -------------------------
Features
---------------------------- */
.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 5%;
}
.features__content {
    display: flex;
    justify-content: center;
    gap: 70px;
}
.features__content__description {
    display: flex;
    flex-direction: column;
}
.features__content__text {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.features__content__text p {max-width: 450px; font-size: 20px; font-weight: 500; padding-top: 10px;}
.features__content__img {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    min-width: 230px;
    margin: 0px 20px;
    height: 100vh;
}
.features__content__img__item {
    display: none;
    width: 100%;
}
.features__content__img__item--active {display: block;}

/* -------------------------
Outro
---------------------------- */
.outro {
    display: flex;
    flex-direction: column;
    padding: 80px 5%;
    align-items: center;
    justify-content: start;
    font-size: 28px;
    height: 70vh;
    overflow-y: hidden;
}
.outro__title {text-align: center; padding-bottom: 60px;}
.outro__title h1 {width: fit-content;}
.outro__img {max-width: 900px; min-width: 500px;}
.outro__img img {width: 100%;}

/* -------------------------
Footer
---------------------------- */
.footer {padding: 80px 60px 50px 60px;}
.footer__section {display: flex; gap: 40px; align-items: center; justify-content: center; padding-bottom: 40px;}
.footer__section a {
    color: #818BA0;
    font-size: 16px;
    font-weight: 600;
}
.footer__divider {border-top: 1px solid #3D4966; margin: 0px;}
.footer__register {width: 100%; padding-top: 20px;}
.footer__register p {font-size: 16px; font-weight: 300; color: #818BA0}

/* -------------------------
Smartphone
---------------------------- */
@media screen and (max-width: 760px) {
    .nav__hamburger {display: block;}
    .nav__list {display: none;}

    .cover{flex-direction: column; overflow: hidden; justify-content: start; padding-top: 30px;}
    .cover__content__text h1 {font-size:48px; text-align: center; white-space: normal;}
    .cover__content__text p {font-size: 16px; text-align: center; max-width: 430px;}
    .cover__content__btn {justify-content: center;}

    .chart h1 {font-size: 32px;}
    .chart__img {margin: 0px 20px;}

    .features__content{flex-direction: column;}
    .features__content__text h3 {text-align: center;}
    .features__content__text p{text-align: center;}
}

/* -------------------------
Mid-screen
---------------------------- */
@media screen and (min-width: 760px) and (max-width: 900px) {
    .cover__content__text h1 {font-size: 56px}
    .cover__content__text p {font-size: 17px; max-width: 450px;}
    .cover__img img{height: 500px;}

    .chart h1 {font-size: 34px;}

    .features__content{flex-direction: column;}
    .features__content__text h3 {text-align: center;}
    .features__content__text p{text-align: center;}
}


*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}